<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <% if (users.length > 0) { %>
      <ul>
        <% for (let user of users) { %>
          <li><% user.title%></li>
        <% } %>
      </ul>

    <% } else { %>
      <h2>No Users Found</h2>
    <% } %>
  </body>
</html>